<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chbb.theaketing.feature.drama.mapper.ShowTimeMapper">


    <!-- findById --> 
    <select id="findById" parameterType="Long" resultType="com.chbb.theaketing.feature.drama.entity.ShowTime">
        SELECT      *
        FROM        show_times
        WHERE       id = #{id}
    </select>


    <!-- findDatesByDramaId --> 
    <select id="findDatesByDramaId" parameterType="Long" resultType="com.chbb.theaketing.feature.drama.dto.DramaDateTimeDto$DramaDate">
        SELECT      show_date
        FROM        show_times
        WHERE       drama_id = #{id}
        GROUP BY    show_date
        ORDER BY    show_date
    </select>

    <!-- findTimesByDramaIdAndDate --> 
    <select id="findTimesByDramaIdAndDate" parameterType="com.chbb.theaketing.feature.drama.dto.DramaDateTimeDto$DramaTimeSearch"
    resultType="com.chbb.theaketing.feature.drama.dto.DramaDateTimeDto$DramaTime">
        SELECT  s.id
                ,s.start_time as time
                ,t.seat_count - 
                    (SELECT count(*) 
                    FROM reservation 
                    WHERE show_time_id = s.id) as remain_seats 
        FROM    show_times s
        JOIN	drama d 
            ON	s.drama_id = d.id
        JOIN    theater t  
            ON  d.theater_id = t.id
        WHERE   s.drama_id = #{dramaId}
		    AND s.show_date = #{showDate}
        ORDER BY    s.start_time asc

    </select>    
</mapper>